  <div class="center hero-unit">
    <!-- <%= link_to image_tag("logo.bmp", alt: "Mtine")%>           -->
    <h1>Share your feelings about movies.</h1>

  <%= link_to "Join us!", signup_path, class: "btn btn-large btn-success" %>
  </div>

  <!-- <%= link_to image_tag("Tangled.jpg", alt: "Tangled")%>
  <%= link_to image_tag("Megamind.jpg", alt: "Megamind")%>
  <%= link_to image_tag("lorax2.bmp", alt: "Lorax")%>     -->

