<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.movie_comments.any? %>
        <h3>Movies Comments (<%= @user.movie_comments.count %>)</h3>
        <ol class="movie_comments">
          <%= render @movie_comments %>
        </ol>
        <%= will_paginate @movie_comments %>
    <% end %>
  </div>
</div>